<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form (ngSubmit)="onLogin(f)" #f="ngForm" class="form-signin">
                        <div class="form-label-group mb-3">
                            <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address"
                                required autofocus ngModel>
                        </div>

                        <div class="form-label-group mb-3">
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                                required ngModel>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>